h1 {text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;}
body {background-color: antiquewhite;font-family: Georgia, 'Times New Roman', Times, serif;}
#education {background-color: ghostwhite;}
#aboutme {background-color: ghostwhite; padding: 10px;}
#skill {background-color: ghostwhite;}
#Licenses {background-color: ghostwhite;}
#lang{background-color: ghostwhite;}

.myimage{
    align-items: center;
}